.home-banner {
    background-color: rgba(10, 25, 47, 0.9);
  color: #fff;
}

.search-box input {
  min-width: 180px;
}
.searchButton{
      border: 1px solid white;
    border-radius: 9px;
    height: 40px;
}
.searchButton:hover{
    border: 1px solid #f03000;
    color: #f03000;
}
@media (max-width: 576px) {
  .search-box {
    flex-direction: column !important;
  }
}
